
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(102, 167, 167);
}
h1{
    color: rgb(10, 138, 138);
    font-weight: 1000;
    font-size: 2em;
}
p{
    color: rgb(25, 121, 121);
    font-size: 2.6em;
}
.container{
    margin-top: 50px;
    background-color: rgb(219, 219, 231);
    text-align: center;
    border-radius: 15px;
    width: 400px;
    height: 450px;
}
button{
    color: rgb(83, 83, 122);
    border-radius: 5px;
    border: none;
    margin: 0 5px;
   cursor: pointer;
    font-size: 0.9em;
    padding: 10px 20px;
}
button:hover{
    border: none;
    background: rgb(187, 185, 185);
}
ul{
    
    /* margin-left: 30px;s */
    list-style: none;
    float:left;
}

ul a{
    text-decoration: none;
}

.pausado{
    color: red;
}

.redes-sociais{
    display: flex;
    justify-content: center;
}